	#main {
		position: relative;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		height: 100vh;
		width: 80vw;
	}

	body {
		font-size: 200%;
		background-color: #16154c;
		color: #fff;
		overflow: hidden;
		height: 100vh;
		width: 100vw;
	}

	a.download {
		float: left;
		scale: 1.5;
		position: relative;
		top: 10px;
		left: 130px;
	}

	input {
		height: 5ch;
		width: 100%;
		border-radius: 20px;
		padding-left: 2ch;
		margin-bottom: 20px;
		border: 0px;
		font-size: 75%;
	}

	input#bttn {
		padding: 0px;
	}

	#form {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 40%;
		left: 50%;
		height: 50%;
		width: 50%;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	a#link {
		text-decoration: none;
		color: rgb(255, 255, 255);
		/* align content to center */
		display: flex;
		justify-content: center;
		align-items: center;

	}

	#header {
		height: 20vh;
		width: 100vw;
		position: absolute;
		top: 0;
		left: 0;

	}

	#footer {
		width: 100vw;
		position: absolute;
		bottom: 0px;
		left: 0px;
		height: auto;
	}

	#content {
		width: 100vw;
		height: 75vh;
		text-align: center;
		position: absolute;
		top: 20vh;

	}

	#content:nth-child(0) {
		width: 100%;
		height: 20%;
	}

	#content:nth-child(1) {
		text-align: center;
		width: 80%;
		height: 80%;

	}

	h1 {
		text-align: center;
		font-weight: normal;
	}

	#logo {
		width: 50%;
		display: block;
		height: 90%;
		position: relative;
		top: 10%;
	}

	table {
		width: 90%;
		line-height: 2ch;
		position: relative;

	}

	th,
	td {
		padding: 10px;
		border: none;
		text-align: center;
		font-size: 150%;
		height: 50px;
		background: transparent;
	}

	tr {
		border-radius: 20px;
		border: #ffffff 4px solid;
	}

	tr:nth-child(odd) {
		background-color: #0d0c3c;
	}

	tr:nth-child(even) {
		background-color: #2c2b6b;
	}

	th {
		background-color: #16154c;
		color: white;
	}

	.table {
		width: 90%;
		height: 100%;
		text-align: center;
		position: relative;
		left: 5%;
	}

	.cell {
		text-align: center;
		width: 30%;
		/* outline: red 1px solid; */
	}

	.head,
	.row {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		padding: 5px 0;
		margin: 2px 0px;
	}

	.row:nth-of-type(odd) {
		border-radius: 10px;
		border: #ffffff 2px solid;
		background: #0d0c3c;
	}

	.row:nth-of-type(even) {
		border-radius: 10px;
		border: #ffffff 2px solid;
		background: #2c2b6b;
	}

	#banner {

		height: 20vh;

	}

	body,
	div,
	td,
	input {
		font-family: Jost;
	}

	/* div{
	outline: red 1px solid;
} */